html {
  background-color: #282c34;
  color: white;
  font-size: 100%;
}

body {
  font-family: 'Oswald', sans-serif;

  button {
    font-family: inherit;
  }
}

#root, .app {
  align-content: flex-end;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.app {
  align-content: flex-end;
  display: flex;
  justify-content: center;
  text-align: center;
}

.app-link {
  color: #61dafb;
}

.calculator {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .calculator {
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .calculator {
    height: 70vh;
    margin-top: 6em;
  }
}

.display {
  align-items: center;
  background-color: gray;
  border: .0625rem solid #282c34;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  display: flex;
  font-size: 1.2em;
  font-weight: 400;
  height: 15%;
  justify-content: flex-end;
  padding: 1rem;
}

.panel {
  flex-grow: 1;
}

.button {
  border: .0625rem solid #282c34;
  height: 20%;
  font-size: 1em;
}

.button:hover {
  border: .0625rem solid #282c34;
  opacity: .9;
}